[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
folium = "*"
streamlit-folium = "*"
google-cloud-bigquery = "*"
grpcio = "*"
google-cloud-firestore = "*"
black = "*"
isort = "*"
pre-commit = "*"
shapely = "*"
sklearn = "*"
scipy = "*"
numpy = "*"
scikit-learn = "*"
wheel = "*"
geographiclib = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11.3"
